<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script defer src="index.js"></script>
    <title>Calculator</title>
</head>

<body>
    <div id="asideButton">X</div>
    <header>Normal</header>
    <nav class="nav">
        <a href="/" class="nav__link" data-link>normal</a>
        <a href="/engineering" class="nav__link" data-link>engineering</a>
        <a href="/date" class="nav__link" data-link>date</a>
    </nav>
    <content>
        <div class="first"></div>
    </content>
    <aside id="aside">
        <div id="asideContent">
            <ul> 전체 메뉴
                <li>어</li>
                <li>디</li>
                <li>로</li>
                <li>가</li>
            </ul>
        </div>
        <div id="asideCancel">XXXX</div>
    </aside>
    <footer></footer>
    <script type="module" src="./static/js/index.js"></script>
</body>

</html>