# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# file 
# 특정 파일 file 제외하기

# /file
# 현재 경로에 있는 파일 제외하기

# folder/
# 특정 폴더 folder 안의 파일 모두 제외하기

# folder / file
# 특정 경로의 특정 파일 제외하기

# folder / ** / files 
# 특정 경로 아래의 모든 file 제외하기
 
# *.txt 
# 특정 확장자 파일 제외
 
# !file 
# 예외 만들기